<!DOCTYPE html>
<html>
  <head>
    <title>All books</title>
  </head>
  <body>
    <form id="updateBookForm">
        <div>
            <label for="title">ID to update:</label>
            <input type="text" id="id" name="id">
          </div>
        <div>
          <label for="title">Title:</label>
          <input type="text" id="title" name="title">
        </div>
        <div>
          <label for="description">Description:</label>
          <input type="text" id="description" name="description">
        </div>
        <div>
          <label for="authors">Authors:</label>
          <input type="text" id="authors" name="authors">
        </div>
        <div>
          <label for="favorite">Favorite:</label>
          <input type="text" id="favorite" name="favorite">
        </div>
        <div>
          <label for="fileCover">Cover Image:</label>
          <input type="text" id="fileCover" name="fileCover">
        </div>
        <div>
          <label for="fileName">File Name:</label>
          <input type="text" id="fileName" name="fileName">
        </div>
        <div>
          <label for="fileBook">File Book:</label>
          <input type="text" id="fileBook" name="fileBook">
        </div>
        <div>
          <button type="submit" id="updateBook">update Book</button>
        </div>
      </form>
      <div id="message"></div>
      <div id="bookObject"></div>
  </body>
  <script>
    let updateBookForm = document.getElementById('updateBookForm');
    updateBookForm.addEventListener('submit', (event) => {
        event.preventDefault();
        let formData = new FormData(updateBookForm);
        let stringForm = [...formData.entries()].filter(x => x[0] != "id").map(x => `${encodeURIComponent(x[0])}=${encodeURIComponent(x[1])}`).join('&');
        fetch(`/api/books/${formData.get("id")}`, {
            method: 'PUT',
            body: stringForm,
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
        })
            .then(response => {
                return response.text();
            })
            .then(data => {
                let match = data.match(/Missing required/);
                if (match) {
                    document.getElementById("message").innerText = "Error!";
                }
                else {
                    document.getElementById("message").innerText = "Book updated";

                }
                document.getElementById("bookObject").innerText = data;
            })

    });
</script>
</html>